.Axis path,
.Axis line {
  stroke: #E0E0E0;
}

.Axis text {
  font-size: 20px;
  fill: black;
}

.Axis-Bottom text {
  transform: rotate(-45deg);
  text-anchor: end;
}
.bar-chart-container{
  display: inline-block;
}
.bar-chart{
  .bar{
    cursor: pointer;
  }
}
