.l-full-width{
  width: 100%;
  height: auto;
}
.l-absolute{
  position: absolute;
  top: 0px;
}
.l-col2{
  width: 50%;
}
@media (max-width: $l_M_Breakpoint){
  .l-col2{
    width: 100%;
  }
}
@media (min-width: $l_XL_Breakpoint){
  .l-col2{
    width: 50%;
  }
}
.l-center-margins{
    max-width: 994px;
    margin-left: auto;
    margin-right: auto;
}