@import "variables";
@import "colors";
@import "charts";
@import "layout";

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot'), /* IE9 Compat Modes */
  url('../fonts/OpenSans-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/OpenSans-Regular.svg') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Semibold.eot'), /* IE9 Compat Modes */
  url('../fonts/OpenSans-Semibold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/OpenSans-Semibold.svg') format('svg'); /* Legacy iOS */
  font-weight: 600;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.eot'), /* IE9 Compat Modes */
  url('../fonts/OpenSans-Bold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/OpenSans-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
  url('../fonts/OpenSans-Bold.svg') format('svg'); /* Legacy iOS */
  font-weight: 800;
}
body {
  margin: 0;
  padding: $mainPadding;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  background-color: $lightgrey;
}

h1{
  font-weight: 800;
}
h2,h3{
  font-weight: 600;
}
section {
  &#skills{
    rect{
      stroke: black;
    }
  }
  margin: 0;  
  
}

footer {
  background-color: $lightgrey;
  min-height: 40px;
  max-width: 100%;
  width: 100%; 
  padding: $mainPadding;
  position: relative;
  bottom: 0px;
}